.footer {
    width: 100vw;
    background-color: rgb(51, 51, 51);
    z-index: 1;
    height: 30px;
    position: fixed;
    bottom: 0%;
    text-align: center;
    padding: 5px;
    color: white;
}
