<div class="popup box">
    <form [formGroup]="postForm" class="log-in" autocomplete="off">
        <p>Update Password</p>

        <div class="floating-label">
            <input placeholder="Enter Old Password " type="password" name="oldpassword " id="oldpassword" formControlName="oldpassword" name="oldpassword" [ngClass]="{
          'is-invalid':
            (postForm.get('oldpassword')?.touched ||
              postForm.get('oldpassword')?.dirty) &&
            !postForm.get('oldpassword')?.valid
        }" required />
        </div>
        <span class="invalid" *ngIf="
        postForm.controls['oldpassword'].invalid &&
        (postForm.controls['oldpassword'].dirty ||
          postForm.controls['oldpassword'].touched)
      ">
      <span *ngIf="postForm.get('oldpassword')?.errors?.required">
        Please enter oldpassword id
      </span>
        <span *ngIf="postForm.get('oldpassword')?.errors?.oldpassword">
        Please enter a valid oldpassword id
      </span>
        </span>

        <div formGroupName="passwordGroup">
            <div class="floating-label">
                <input type="password" class="form-control" placeholder="New Password" formControlName="password" [ngClass]="{
            'is-invalid':
              postForm.get('passwordGroup')?.errors ||
              ((postForm.get('passwordGroup.password')?.touched ||
                postForm.get('passwordGroup.password')?.dirty) &&
                !postForm.get('passwordGroup.password')?.valid)
          }" required />
            </div>
            <span class="invalid" *ngIf="
          postForm.get('passwordGroup')?.errors ||
          ((postForm.get('passwordGroup.password')?.touched ||
            postForm.get('passwordGroup.password')?.dirty) &&
            !postForm.get('passwordGroup.password')?.valid)
        ">
        <span *ngIf="postForm.get('passwordGroup.password')?.errors?.required">
          Please enter your password
        </span>
            <span *ngIf="
            postForm.get('passwordGroup.password')?.errors?.password ||
            postForm.get('passwordGroup.password')?.errors?.pattern
          ">
          Please enter a valid password
        </span>
            </span>
            <div class="floating-label">
                <input type="password" placeholder="Confirm New Password " formControlName="confirmpassword" [ngClass]="{
            'is-invalid':
              postForm.get('passwordGroup')?.errors ||
              ((postForm.get('passwordGroup.confirmpassword')?.touched ||
                postForm.get('passwordGroup.confirmpassword')?.dirty) &&
                !postForm.get('passwordGroup.confirmpassword')?.valid)
          }" required />
            </div>
            <span class="invalid" *ngIf="
          postForm.get('passwordGroup')?.errors ||
          ((postForm.get('passwordGroup.confirmpassword')?.touched ||
            postForm.get('passwordGroup.confirmpassword')?.dirty) &&
            !postForm.get('passwordGroup.confirmpassword')?.valid)
        ">
        <span
          *ngIf="
            postForm.get('passwordGroup.confirmpassword')?.errors?.required
          "
        >
          Confirm your password
        </span>
            <span *ngIf="postForm.get('passwordGroup')?.errors?.match">
          The confirmation does not match.
        </span>
            </span>
        </div>

        <br />
    </form>
    <div class="loader" *ngIf="disable"></div>
    <div class="error" *ngIf="error">
        <p>{{ mssg }}</p>
    </div>
    <div class="success" *ngIf="success">
        <p>{{ mssg }}</p>
    </div>
    <div class="option">
        <button type="submit " (click)="updateUserPassword()" [disabled]="disable">
      Save Changes
    </button>
        <button (click)="close()">No</button>
    </div>
</div>
