<div class="partition"></div>
<app-no-post *ngIf="posts.length===0 && loading===false"></app-no-post>
<div class="blog-body" *ngIf="posts.length>0">
    <div class="search-container">
        <form>
            <input type="text" placeholder="Search.." name="search" [(ngModel)]="searchValue" />
        </form>
        <form class="select-outer-box">
            <select name="dropdown" [(ngModel)]="dropdown" class="select-box">
        <option value="1" [selected]="true">Latest</option>
        <option value="2">Featured</option>
      </select>
        </form>
    </div>
    <div class="main" *ngFor="
      let p of dropdown === '1'
        ? (posts | searchfilter: searchValue | sortbydate)
        : (posts | searchfilter: searchValue | featured)
    ">
        <div class="blog-slider">
            <div>
                <div class="blog-slider-item">
                    <a [routerLink]="['/profile', p.creator_name]">
                        <div class="blog-img">
                            <img src="../../../assets/b.png" alt=" " />
                        </div>
                    </a>
                    <div class="blog-content">
                        <span class="blog-code">{{ p.date | date: "dd/MM/yyyy" }}</span>
                        <span class="blog-code">{{ p.date | date: "hh:mm:ss" }}</span>
                        <div class="blog-info">
                            <div class="blog-title">{{ p.title }}</div>
                            <span class="blog-code">by-{{ p.creator_name }}</span>
                        </div>
                        <div class="blog-text">
                            <p>{{ p.subject }}</p>
                        </div>
                        <span class="blog-code">Tags: {{ p.tags }}</span>
                        <div class="blog-panel">
                            <div>
                                <div *ngIf="
                    p.likedby.indexOf(profile_id) > -1;
                    then content;
                    else other_content
                  ">
                                    here is ignored
                                </div>
                                <ng-template #content>
                                    <button class="blog-button send like" [disabled]="like" (click)="unlikeblog(p._id)">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                  </button>
                                    <span class="blog-code">{{ p.likes }} Likes</span>
                                </ng-template>
                                <ng-template #other_content>
                                    <button class="blog-button like" [disabled]="like" (click)="likeblog(p._id)">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                  </button>
                                    <span class="blog-code">{{ p.likes }} Likes</span>
                                </ng-template>
                            </div>


                            <div>
                                <div *ngIf="
                  p.dislikedby.indexOf(profile_id) > -1;
                  then content_dislike;
                  else other_content_dislike
                ">
                                    here is ignored
                                </div>
                                <ng-template #content_dislike><button class="blog-button send like" [disabled]="like" (click)="likeblog(p._id)">
                                  <i class="fa fa-thumbs-down"></i>
                </button>
                                    <span class="blog-code">{{ p.dislikes }} Dislikes</span>
                                </ng-template>
                                <ng-template #other_content_dislike>
                                    <button class="blog-button like" [disabled]="like" (click)="unlikeblog(p._id)">
                                      <i class="fa fa-thumbs-down"></i>
                </button>
                                    <span class="blog-code">{{ p.dislikes }} Dislikes</span>
                                </ng-template>
                            </div>


                            <div>
                                <a class="blog-button send" [routerLink]="['/comment', p._id]"><i class="fa fa-paper-plane" aria-hidden="true "></i
                ></a>
                                <span class="blog-code">{{ p.commentcount }} Comments</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="divider" />
        <br />
    </div>
</div>
